{%  load recaptcha2 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}Doação Amigos da Poli</title>
    {% recaptcha_init %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">{% load static %}
    <link rel="stylesheet" href="{% static  "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="{% static  "js/donation_form.js" %}"></script>


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', 'auto');
        ga('send', 'pageview');
    </script>

</head>

<body>
    <div class="header">
        <div class="wrapper">
            <img src="/static/images/logo.png" alt="logo poli" class="header__logo"/>
            <h1 class="header__title">O futuro da nossa Escola</h1>
        </div>
    </div>

    <form method="POST" class="donation-form">
        {% csrf_token %}
        
        Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
        {% if form.errors %}
        <div class="alert">
            <h4>Por favor, corrija os seguintes errors:</h4>

            <ul class="error-list">
            {% for field in form %}
              {% if field.errors %}
                {% for error in field.errors %}
                  <li><a href="#id_{{ field.name }}" class="error">{{ field.label }}: {{ error|escape }}</a></li>
                {% endfor %}
              {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}



        {% block content %}


        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                
            {% endfor %}
        {% else %}
            
        {% endif %}

        {% endblock %}

    </form>
    <footer>
        
    </footer>

</body>

</html>
