venv/
.idea/
geckodriver.log
__pycache__
.sass-cache
*.swp
*.swo
*.swn
*.psd
*.plist
*.map
*.pyc
tags
Gemfile.lock

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
