dist: trusty
sudo: required

env:
  global:
    - DJANGO=1.11.3
    - DISPLAY=:99.0
    - MOZ_HEADLESS=1
    - CC_TEST_REPORTER_ID=7258bc8fa5569217ee14f1caa8fd0f39ac04feeb2cfd92e2f300a509406e4596

language: python
python:
    - 3.5.2

services: postgresql
addons:
  firefox: latest-dev

before_install:
  - export DJANGO_SETTINGS_MODULE=POSCaD.settings.dev
  - export PYTHONPATH=$HOME/builds/amigosdapoli/donation-system
  - export PIP_USE_MIRRORS=true

install:
  - pip install -r requirements.txt
  - pip install django==$DJANGO --quiet
  - pip install psycopg2 --quiet

before_script:
  - bash scripts/setup_database_linux.sh
  - bash scripts/install_geckodriver.sh
  - bash scripts/prepare_codeclimate_testcoverage.sh

script:
  - bash scripts/build_donation-system.sh
  - coverage run --source 'POSCaD,dbwrapper' --omit 'venv/*' manage.py test
  - coverage xml

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
