language: python

python:
    - 3.5.2

services: postgresql

env:
  - DJANGO=1.11.3

before_install:
  - export DJANGO_SETTINGS_MODULE=POSCaD.settings.dev
  - export PYTHONPATH=$HOME/builds/amigosdapoli/donation-system
  - export PIP_USE_MIRRORS=true

install:
  - pip install -r requirements.txt
  - pip install django==$DJANGO --quiet
  - pip install psycopg2 --quiet

before_script:
  - bash scripts/setup_database_linux.sh

script:
  - bash scripts/build_donation-system.sh
