Babel==2.5.0
Django==1.11.3
django-localflavor==1.5.2
django-phonenumber-field==1.3.0
djangorestframework==3.6.3
phonenumberslite==8.8.0
psycopg2==2.7.1
pytz==2017.2
selenium==3.4.3
django-livereload-server
future
