/* Base Styles -------------------- */

* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    // border: solid 1px red;
}
html {
    font-size: $base__font-size;
    // background-color: green;
}
body {
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: cores(accent);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol {
    margin-left: 30px;
}
p,
li {
    font-weight: $font-weight--regular;
    font-size: 1em;
    line-height: em(20px, 14px);
}
h2 {
    font-size: 2em;
    line-height: 1em;
    font-weight: $font-weight--heavy;
}
h3 {
    font-size: 1.5em;
}
