{%  load recaptcha2 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Doação Amigos da Poli</title>
    {% recaptcha_init %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">{% load static %}
    <link rel="stylesheet" href="{% static  "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="{% static  "js/donation_form.js" %}"></script>

    <!-- 
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', '###CODE HERE###', 'auto');
    ga('send', 'pageview');
  </script>
  -->

</head>

<body>
    <div class="header">
        <div class="wrapper">
            <img src="/static/images/logo.png" alt="logo poli" class="header__logo"/>
            <h1 class="header__title">O futuro da nossa Escola</h1>
        </div>
    </div>

    <form method="POST" class="donation-form">

            {% if payment_form.errors or donor_form.errors or donation_form.errors %}
                <div class="alert alert-error">
                  <h4>Alguns dados precisam ser corrigidos:</h4>
                  <ul>
                    {% for field in donation_form %}
                      {% if field.errors %}
                        {% for error in field.errors %}
                          <li><a href="#id_{{ field.name }}" class="error">{{ field.label }}: {{ error|escape }}</a></li>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    {% for field in donor_form %}
                      {% if field.errors %}
                        {% for error in field.errors %}
                          <li><a href="#id_{{ field.name }}" class="error">{{ field.label }}: {{ error|escape }}</a></li>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    {% for field in payment_form %}
                      {% if field.errors %}
                        {% for error in field.errors %}
                          <li><a href="#id_{{ field.name }}" class="error">{{ field.label }}: {{ error|escape }}</a></li>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    {% if donation_form.non_field_errors %}
                        <li><a href="" class="error">{{ donation_form.non_field_errors }}</a></li>
                    {% endif %}
                    {% if donor_form.non_field_errors %}
                        <li><a href="" class="error">{{ donor_form.non_field_errors }}</a></li>
                    {% endif %}
                    {% if payment_form.non_field_errors %}
                        <li><a href="" class="error">{{ payment_form.non_field_errors }}</a></li>
                    {% endif %}
                  </ul>
                </div>
            {% endif %}

            <h3 class="panel-title">Escolha a frequência e o valor de sua doação</h3>

            <input type="hidden" name="{{ donation_form.campaign_name.name }}" id="{{ donation_form.campaign_name.id_for_label }}"
               value="{{ campaign_data.campaign_name }}"
               maxlength="{{ donation_form.campaign_name.field.max_length }}">
            <input type="hidden" name="{{ donation_form.campaign_group.name }}" id="{{ donation_form.campaign_group.id_for_label }}"
               value="{{ campaign_data.campaign_group }}"
               maxlength="{{ donation_form.campaign_group.field.max_length }}">

            <p>
                <label>{{ donation_form.donation_value.label_tag }}</label>
                {{ donation_form.donation_value.errors }}
                {{ donation_form.donation_value }}
            </p>

            <div class="radio-wrapper">
                <input id="rad1" type="radio" name="is_recurring" checked="checked" value="Única"><label for="rad1">Única</label></input>
                <input id="rad2" type="radio" name="is_recurring" value="Mensal"><label for="rad2">Mensal</label></input>
            </div>

            <p id="id_installments" style="display: none;">
                <label>{{ donation_form.installments.label_tag }}</label>
                {{ donation_form.installments.errors }}
                {{ donation_form.installments}}
            </p>

            <h3 class="panel-title">Informações pessoais</h3>

            <p>
                <label>{{ donor_form.name.label_tag }}</label>
                {{ donor_form.name.errors }}
                {{ donor_form.name }}
            </p>
            <p>
                <label>{{ donor_form.surname.label_tag }}</label>
                {{ donor_form.surname.errors }}
                {{ donor_form.surname }}
            </p>
            <p>
                <label>{{ donor_form.tax_id_no_pk_validation.label_tag }}</label>
                {{ donor_form.tax_id_no_pk_validation.errors }}
                {{ donor_form.tax_id_no_pk_validation }}
            </p>
            <p>
                {{ donor_form.email.errors }}
                <label>{{ donor_form.email.label_tag }}</label>
                {{ donor_form.email }}
            </p>
            <p>
                <label>{{ donor_form.phone_number.label_tag }}</label>
                {{ donor_form.phone_number.errors }}
                {{ donor_form.phone_number }}
            </p>
            <p>
                <label>{{ donor_form.course_taken.label_tag }}</label>
                {{ donor_form.course_taken.errors }}
                {{ donor_form.course_taken }}
            </p>
            <p id="id_course_year" style="display: none;">
                <label>{{ donor_form.course_year.label_tag }}</label>
                {{ donor_form.course_year.errors }}
                {{ donor_form.course_year }}
            </p>
            <p>
                <label>{{ donation_form.referral_channel.label_tag }}</label>
                {{ donation_form.referral_channel.errors }}
                {{ donation_form.referral_channel }}
            </p>

            <label>Deseja permanecer anônimo?</label>
            <div class="radio-wrapper">
                <input id="rad3" type="radio" name="is_anonymous" value="Sim"><label for="rad3">Sim</label></input>
                <input id="rad4" type="radio" name="is_anonymous" value="Não" checked="checked"><label for="rad4">Não</label></input>
            </div>

            <h3 class="panel-title">Pagamento</h3>

            {% for field in payment_form %}
                <p>
                    <label>{{ field.label_tag }}</label>
                    {{ field.errors }}
                    {{ field }}
                </p>
            {% endfor %}

            <!-- <div name="credit_cards" style="text-align:left;"> -->
            <!--     <img style="height:49px" src="https://www.amigosdapoli.com.br/assets/images/visa.png" name="visa"> -->
            <!--     <img style="height:49px" src="https://www.amigosdapoli.com.br/assets/images/master.png" name="mastercard"> -->
            <!-- </div> -->

            {% csrf_token %}
        <button class="submit-button" name="subbtn" onclick="ga('send', {hitType: 'event',eventCategory: 'doacao',eventAction: 'submit_donation',eventLabel: 'website'});" type="submit" >
            Doar
        </button>
      </div>
    </div>
    </form>
    <footer>
        
    </footer>

</body>

</html>
