{%  load recaptcha2 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Doação Amigos da Poli</title>
    {% recaptcha_init %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">{% load static %}
    <link rel="stylesheet" href="{% static  "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- 
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', '###CODE HERE###', 'auto');
    ga('send', 'pageview');
  </script>
  -->

</head>

<body>
    <div class="header">
        <div class="wrapper">
            <img src="/static/images/logo.png" alt="" class="header__logo"/>
            <h1 class="header__title">O futuro de nossa escola</h1>
        </div>
    </div>

    <form method="POST" class="form-inline" class="donation-form">

            {% if payment_form.errors %}
                <div class="alert alert-error">
                  <h4>Alguns dados precisam ser corrigidos:</h4>
                  <ul>
                    {% for field in payment_form %}
                      {% if field.errors %}
                        {% for error in field.errors %}
                          <li><a href="#id_{{ field.name }}" class="error">{{ field.label }}: {{ error|escape }}</a></li>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                  {% if payment_form.non_field_errors %}
                    {{ payment_form.non_field_errors }}
                  {% endif %}
                </div>
            {% endif %}

            <h3 class="panel-title">Como você pretende doar?</h3>
			{{donation_form.as_p}}

            <div class="radio-wrapper">
                <input id="rad1" type="radio" name="is_recurring"><label for="rad1">Pontualmente</label></input>
                <input id="rad2" type="radio" name="is_recurring"><label for="rad2">Mensalmente</label></input>
            </div>

            <h3 class="panel-title">Informações pessoais</h3>
			{{donor_form.as_p}}

            <label>Deseja permanecer anônimo?</label>
            <div class="radio-wrapper">
                <input id="rad3" type="radio" name="is_anonymous"><label for="rad3">Sim</label></input>
                <input id="rad4" type="radio" name="is_anonymous"><label for="rad4">Não</label></input>
            </div>

            <h3 class="panel-title">Pagamento</h3>
            <!--{{ payment_form.as_p }}-->
            {% for field in payment_form %}
                <p>
                    {{ field.errors }}
                    <label>{{ field.label_tag }}</label>
                    {{ field }}
                </p>
            {% endfor %}
            <!--{{ payment_form.name_on_card.as_p}}-->
        <!-- <div name="credit_cards" style="text-align:left;"> -->
        <!--     <img style="height:49px" src="https://www.amigosdapoli.com.br/assets/images/visa.png" name="visa"> -->
        <!--     <img style="height:49px" src="https://www.amigosdapoli.com.br/assets/images/master.png" name="mastercard"> -->
        <!-- </div> -->

            {% csrf_token %}
        <button name="subbtn" onclick="ga('send', {hitType: 'event',eventCategory: 'doacao',eventAction: 'submit_donation',eventLabel: 'website'});" type="submit" class="submit-button">
            Doar
        </button>
      </div>
    </div>
    </form>
    <footer>
        
    </footer>

</body>

</html>
