<!DOCTYPE html>
<html lang="en">

<head>
    <title>Doação Amigos da Poli</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">{% load static %}
    <link rel="stylesheet" href="{% static  "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- 
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', '###CODE HERE###', 'auto');
    ga('send', 'pageview');
  </script>
  -->

</head>

<body>
    <div class="header">
        <div class="wrapper">
            <img src="/static/images/logo.png" alt="" class="header__logo"/>
            <h1 class="header__title">O futuro de nossa escola</h1>
        </div>
    </div>

    <div class="success">
        <div class="wrapper">
            <h2>
                Muito obrigado pela sua doação!
            </h2>
            <p>
                O Fundo Patrimonial Amigos da Poli agradece imensamente sua contribuição.<br>
                <br>
                O valor doado será utilizado para apoiar projetos excepcionais da Escola Politécnica da Universidade de São Paulo, contribuindo para o desenvolvimento da engenharia e para a formação de engenheiros cada vez mais capacitados.<br>
                <br>
                Além disso, a doação contribui para o sucesso dessa iniciativa, que precisa se espalhar e atingir muitas outras universidades Brasil afora.
            </p>
        </div>
    </div>

    <footer>
        
    </footer>

</body>

</html>

